[submodule "ISAdatasets"]
	path = tests/testthat/test-data/ISAdatasets
	url = https://github.com/ISA-tools/ISAdatasets
[submodule "tests/testthat/test-data/ISAdatasets"]
	path = tests/testthat/test-data/ISAdatasets
	url = https://github.com/ISA-tools/ISAdatasets
